<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="ru" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="ru" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="ru" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="ru" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="noie css-load-display"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Love Wins 4 Taiwan</title>

    <meta name="viewport" content="width=600, user-scalable=yes">
    <link rel="icon" href="https://s3.amazonaws.com/global-marriage-equality-tw/tw_small.png" type="image/x-icon">

    <!-- fb meta -->
    <meta property="og:site_name" content="Love Wins 4 Taiwan"/>
    <meta property="fb:app_id" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Love Wins 4 Taiwan" />
    <meta property="og:url" content="https://marriageforall.org" />
    <meta property="og:image" content="https://s3.amazonaws.com/global-marriage-equality-tw/web-banner.jpg">
    <meta property="og:description" content="各位人在海外，關心台灣婚姻平權進程的朋友們，海外串連聲援開跑囉！從今日在美國最高法院前的記者會開始，到12/10世界人權日，全球海外橫跨四大洲、六國、至少17個城市的聲援行動開跑囉！" />

    <!-- twitter meta -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@g0vtw">
    <meta name="twitter:creator" content="@g0vtw">

    <meta name="twitter:title" content="Love Wins 4 Taiwan">
    <meta name="twitter:description" content="各位人在海外，關心台灣婚姻平權進程的朋友們，海外串連聲援開跑囉！從今日在美國最高法院前的記者會開始，到12/10世界人權日，全球海外橫跨四大洲、六國、至少17個城市的聲援行動開跑囉！">
    <meta name="twitter:image:src" content="https://s3.amazonaws.com/global-marriage-equality-tw/web-banner.jpg">


    <style type="text/css">
    .css-load-display {
      /* set to visible inside it.config.K_STYLE_URL */
      visibility: hidden;
    }
    </style>

    <link href='http://fonts.googleapis.com/css?family=Roboto:500,300,400&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>

    {{? it.config.K_STYLE_URL}}
    <link rel="stylesheet" href="{{=it.config.K_STYLE_URL}}" />
    {{?}}
    <script>
        window.K_SESSION_UUID = '{{=it.config.K_SESSION_UUID}}';
    </script>
  </head>

  <body ondragstart="return false;">
    <div id="react_main">{{=it.config.K_PRERENDERED_CONTENT}}</div>

    <script>
        window.K_SERIALIZED_DATA = {{=it.config.K_SERIALIZED_DATA}};
    </script>

    {{? it.config.K_SCRIPT_COMMONS_URL}}
    <script defer src="{{=it.config.K_SCRIPT_COMMONS_URL}}"></script>
    {{?}}

    <script defer src="{{=it.config.K_SCRIPT_URL}}"></script>
            <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-54932647-6', 'auto');
          ga('send', 'pageview');

    </script>
  </body>
</html>
